body{
    font-family: 'Baloo 2', cursive;
    background-color: white;
}
/*nav{
    position:fixed;
 }
*/
#Container{
    width: 1510px;
    margin-left: auto;
    margin-right: auto;
    
}

#Menu{
    background-color: gray;
    color: aliceblue;
    
}
#topbar{
    background-color: #fffeee;
    color: black;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 490px;
    }
    #topbarl{
    float: left;
    padding: 20px;
    width: 500p x;
    text-align: center;
    border-right: 2px dotted #cccccc;
    }
    #topbarr{
    float: left;
    padding: 20px;
    width: 600px;
    font-size: 16px;
    text-align: justify;
    }
    #topbar2{
        background-color: red;
        color: black;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 490px;
        }
        #topbarl2{
        float: left;
        padding: 20px;
        width: 600px;
        text-align: center;
        border-right: 2px dotted #cccccc;
        }
        #topbarr2{
        float: left;
        padding: 20px;
        width: 500px;
        font-size: 16px;
        text-align: justify;
        }
        #topbar3{
            background-color: green;
            color: black;
            padding: 10px;
            margin-top: 20px;
            margin-bottom: 20px;
            height: 490px;
            }
            #kontakt{
                background-color: orange;
                color: black;
                padding: 10px;
                margin-top: 20px;
                margin-bottom: 20px;
                height: 490px;
                }
                #footer{
                    background-color: plum;
                    clear: both;
                    color: #000000;
                    text-align: center;
                    padding: 20px;
                    font-size: 18px;
                }    
.optionMenu{
    float: right;
    min-width: 50px;
    height: 40px;
    font-size: 28px;
    padding: 20px;
    
  
}